<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>Device Control Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <link rel="stylesheet" href="../theme.css">
    <link rel="stylesheet" href="../Login/login.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div tiles:fragment="content">
            <form name="f" th:action="@{/login}" method="post" id="loginForm">
                <div th:if="${param.error}" class="alert alert-error" style="display:none;">
                </div>
                <div th:if="${param.logout}" class="alert alert-success" style="display:none;">
                </div>
                <div>
                    <div>
                        <label for="username">Username</label>
                        <div>
                            <input type="text" id="username" name="username" class="form-element"/>
                        </div>
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <div>
                            <input type="password" id="password" name="password" class="form-element"/>
                        </div>
                    </div>
                    <div>
                        <div class="form-actions">
                            <button type="submit" class="form-button">Login</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
</body>
</html>
