/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Feb 12, 2018, 12:38:52 PM
    Author     : Erik
*/

body {
    font-family: 'Open Sans','Arial',sans-serif;
    font-size: 14px;
}

button {
    cursor: wait;
    background-color: lightgray;
    border-radius: 0px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19);
    background-color: #ebebeb;
}

.main-container {
    /* position: absolute;
     top: 50%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%);*/
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.main-container2 {
    display: table-cell;
    vertical-align: middle;

}
.main-container3 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

ul {
    list-style-type: none;
}
/* ------------------------------------ NAV MENY -------------------------------*/
#ntnu-logo {
    float: left;
}

nav {
    width: 100%;
    border-bottom: 1px solid grey;
}

nav ul {
    margin: 0;
    padding: .5em;
    overflow: hidden;
    margin-left: 5%;
}

nav ul li {
    display: inline;
    margin-left: 5%;
    padding: 1.5em;

}
nav ul li:hover {
    background-color: #ebebeb;
    cursor: pointer;

}

#logout {
    margin-left: 68%;
}
/*-------------------------------------------------------SLUTT---------------------------------------*/

.selected-container {
    float: left;
    text-align: center;
    margin-right: 5%;
    margin-left: 10%;
}

#dropdown-group {
    padding: 5% 0 5% 0;
}

#button-savegroup {
    padding: 5% 0 5% 0;
}

#interactive-image {
    float: left;
    margin-right: 5%;
    width: 33%;
}

.generic-buttons {
    float: left;
    margin-top: 5%;
}
#buttonmute, #button1, #button2 {
    display: block;
    padding: 20% 0 20% 0;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 200px;
}
#buttonpower {
    background-color: limegreen;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}

#selected-list li {
    border: 1px solid #00509e;
    margin-right: 12%;
    margin-bottom: 5%;
    background-color: #00509e;
    padding: 1em;
}

#selected-list li:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

