/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 12, 2018, 11:32:21 AM
    Author     : Erik
*/

* {
    margin: 0;
}

.row {
    margin: 1%;
}
.column {
    float: left;
    border: solid black 1px;
    padding: 15px;
    width: 100%;
}

.middle-c {
    display: none;
}

@media only screen and (min-width: 600px) {
    /* TABLET */
    .side-c {
        width: 25%;
    }

    .middle-c {
        width: 37%;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    /* DESKTOP */
    .side-c {
        width: 25%;
    }

    .middle-c {
        display: block;
        width: 37%;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    /* DESKTOP */
    .side-c {
        width: 25%;
    }

    .middle-c {
        display: block;
        width: 37%;
        text-align: center;
    }
}

.row:after {
    content: "";
    display: table;
    clear: left;
}

button:hover {
    cursor: pointer;
}
/* NAVIGATION MENU ++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.navigation-menu {
    background-color: #999999;
    border-bottom: black;
}
#ntnu-logo {
    float: left;
    width: 5%;
}

nav ul {
    margin: 0;
    padding: .6em;
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin-left: 5%;
    padding: 1.5em;

}
nav ul li:hover {
    background-color: #ebebeb;
    cursor: pointer;

}

/* GENERIC BUTTONS ----------------- */
.generic-buttons {
    width: 25%;
    margin: auto;
    margin-top: 20%;
}

#buttonpower, #buttonmute, #button1, #button2 {
    display: block;
    width: 100px;
    height: 100px;
    margin-bottom: 10%;
}

/*#powerimg {
    filter: invert(1);
}*/

/* PROJECTOR LIST ------------------ */

.selected-container {
    text-align: center;
    display:block;
}
#group-select {
    border-radius: 20px;
    padding: 1%;
}
select:hover {
    cursor: pointer;
}
.selected-container li {
    border: 1px solid black;
    margin: auto;
    width: 30%;
    text-align: left;
    background-color: #ff3300;
    margin-bottom: 1%;
}
.selected-container li:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19);
    background-color: #ff3311;
}

label {
    display: block;
    margin: 0;
    padding: 13%;
}
.text-label {
    white-space: nowrap;
}
input[type=checkbox] {
    display: none;
}
label:hover {
    cursor: pointer;
}
.check-label {
    float: right;
    height: 100%; 
}

input[type=checkbox]:checked + .check-label {
    float: right;
    background: url('check-icon.png');
    background-size: 100%;
}
.selected-container button {
    width: 5em;
    height: 5em;
    margin: 2%;
}

.group-button {
    float: left;
    margin-left: 26%;
}
#settings-group, #button-savegroup {
    margin-left: 10%;
    border-radius: 10%;
}


/* INTERACTIVE APPLICATION MIDDLE IMAGE THINGY ------------------ */

#interactive-image {
    margin: auto;
    max-width: 100%;
    height: auto;
    display: block;
}
