
body {
    color: white;
}

td {
    border-bottom: solid 2px #bfbfbf;
}

.table-container {
    border: solid 2px black;
    display: inline-block;
    margin: 1%;
    background-color: #545454;
    border-radius: 2%;
}

.display-table {
    border-collapse: collapse;
}

.header-row {
    font-size: 16px;
    font-weight: 700;
}