
body {
    color: white;
}

td {
    border: solid 2px #ff1801;
}

.table-container {
    border: solid 2px black;
    display: inline-block;
}

.display-table {
    border: solid 2px black;
    border-collapse: collapse;
}

.header-row {
    font-size: 16px;
    font-weight: 700;
}